{extend name="base/base" /}
{block name="title"}{$title}{/block}
{block name="content"}
<section class="">
	<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 资讯管理 <span class="c-gray en">&gt;</span> {$title} 
	<a class="btn btn-success radius r btn-refresh" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="cl pd-5 bg-1 bk-gray"> 
			<span class="l"> <a class="btn btn-primary radius" href="javascript:;" onclick="category_edit('添加分类','{:url("ads/typeAdd")}','','400','300')"><i class="Hui-iconfont">&#xe600;</i> 添加分类</a> </span> 
			</div>
			<div class="mt-10">
			<table class="table table-border table-bordered table-hover table-bg">
				<thead>
					<tr class="text-c">
						<th width="40">ID</th>
						<th>分类名称</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				{volist name="list" id="vo"}
					<tr class="text-c">
						<td>{$vo.id}</td>
						<td class="text-l"><b>{$vo.title}</b></td>
						<td class="f-14">
							<a title="编辑" href="javascript:;" onclick="category_edit('分类编辑','{:url("ads/typeAdd",array("id"=>$vo.id))}','','400','300')"><i class="Hui-iconfont">&#xe6df;</i></a> 
							<a title="删除" href="javascript:;" onclick="cate_del(this,'{$vo.id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
						</td>
					</tr>
					{volist name="vo.child" id="ch"}
						<tr class="text-c">
							<td>{$ch.id}</td>
							<td class="text-l">|--{$ch.title}</td>
							<td class="f-14">
								<a title="编辑" href="javascript:;" onclick="category_edit('分类编辑','{:url("ads/typeAdd",array("id"=>$ch.id))}','','400','300')"><i class="Hui-iconfont">&#xe6df;</i></a> 
								<a title="删除" href="javascript:;" onclick="cate_del(this,'{$ch.id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
							</td>
						</tr>
					{/volist}		
				{/volist}					
				</tbody>
			</table>
			</div>
		</article>
	</div>
</section>
{/block}
{block name="js"} 
<script type="text/javascript">
/*分类-删除*/
function cate_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		$.post('{:url("ads/typeDel")}',
			{'id':id},
			function(data){
				if(data.success==1){
					$(obj).parents("tr").remove();	
					layer.msg(data.msg,{icon:1,time:1000});				
				}else{
					layer.msg(data.msg,{icon:2,time:1000});
				}				
			},'json')
	});
}
/*分类-编辑*/
function category_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
</script>
{/block}